<div class="row">
    <div class="col-xs-5">
        <label for="">
            Nome
        </label>
        <input type="text" class="form-control" #materialNameInput>
    </div>
    <div class="col-xs-2">
        <label for="">
            Preço
        </label>
        <input type="text" class="form-control" #materialPriceInput>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <button
        class="btn btn-primary"
        (click)="addMaterial()">Add material</button>
    </div>
</div>